@using AllYourPlates.WebMVC.DataAccess
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <!-- Container for the list of messages -->
    <ul id="messageList"></ul> <!-- List to hold messages -->
</div>

@section Scripts {
    <script type="text/javascript">
        const connection = new signalR.HubConnectionBuilder()
            .withUrl("/notificationHub") // URL to your SignalR hub
            .build();

        connection.on("ReceiveMessage", function (message) {
            const li = document.createElement("li");
            li.textContent = message;
            const messageList = document.getElementById("messageList");
            messageList.appendChild(li);
        });

        connection.start().catch(function (err) {
            console.error("Error while starting connection: " + err);
        });
    </script>
}